 *{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
 }
.qwe {
    height: 300px;
    width: 500px;
    background: rgba(20, 20, 20, 0.7);
    backdrop-filter: blur(16px);
    font-size: 50px;
    margin-left: 700px;
    margin-top: 300px;
}
.qwe span{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 45px;
    color: rgb(153, 36, 56);
    /* text-shadow: white 0px 0px 20px; */
    padding-top: 45px;
}
.qwe h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    color: white;
    padding-top:30px;
}
.qwe input{
  appearance: none;
  border: 0;
  background: rgb(153, 36, 56);
  color: #fff;
  padding: 8px 16px;
  font-size: 16px;
 
   
}